.page-header {
  text-align: center;
  padding: 1.5rem;
  background-color: black;
  color: rgb(255, 255, 255);
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
}

.post-card {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #808080;
  display: flex;
  flex-direction: column;
  color: black;
}

.post-card button {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.4rem 1rem;
}

button{
  background-color: red;
  color: white;
}

