<header class="page-header">
  <h1>Community Feed</h1>
</header>

<main class="posts-container">
  <article class="post-card">
    <h2 class="post-title">TITLE</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, facere suscipit officia enim nulla provident velit exercitationem a blanditiis dolores consequatur! Laborum distinctio debitis neque pariatur architecto sed molestiae nemo.</p>
    <button>Delete</button>
  </article>

  <article class="post-card">
    <h2 class="post-title">TITLE</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sunt itaque ipsam officia ducimus quisquam tempore quos quam veritatis quas, similique fuga soluta odio porro. Architecto animi non suscipit voluptatum?</p>
    <button>Delete</button>
  </article>

    <article class="post-card">
    <h2 class="post-title">TITLE</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem consequatur, eligendi tenetur dolor reiciendis blanditiis fugit delectus eveniet quisquam incidunt ullam sint et saepe? Pariatur nisi totam mollitia quidem eaque.</p>
    <button>Delete</button>
  </article>
</main>
